/.idea/**
**/target/**
**/*.iml
**/logs/**/*log.*
/config/**
**/src/main/resources/application-local.properties
/target/
/bin/
/etrex-uploader-app/logs/*.log
/etrex-uploader-app/config.properties
config.properties