/.idea/**
**/target/**
**/*.iml
**/logs/**/*log.*
/config/**
**/src/main/resources/application-local.properties
/target/
/bin/
/logs/*.log
/etrex-uploader/logs/*.log
/etrex-uploader-app/config.properties
/config.properties
/strava.properties
/logs/
